<section class="footer">
  <ul class="footer__options">
    <li>Terms and Conditions</li>
    <li>Privacy Policy</li>
    <li>Contact Us</li>
  </ul>
  <div class="footer__socialNeworks">
    <p class="footer__socialNeworks--text">Folow Us</p>
    <a class="footer__socialNeworks--link" href="https://www.facebook.com/" target="_blank"><img class="filter" src="../../assets/img/facebook.png" title="Facebook" /></a>
    <a class="footer__socialNeworks--link" href="https://twitter.com/" target="_blank"><img src="../../assets/img/twitter.png" title="Twitter" /></a>
  </div>
</section>
