.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4%;
  min-height: 70vh;
  position: relative;
  width: 48%;
  &__backdrop {
    background-image: linear-gradient(to bottom, rgba(146, 146, 146, 0.14), rgba(171, 171, 171, 0.65));
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  &__character {
    display: flex;
    flex-direction: column;
    height: 90%;
    position: relative;
    &__title {
      color: white;
      font-size: 40px;
      line-height: 40px;
      font-weight: 300;
      margin: 0;
      padding: 0 20px;
      margin-top: 45vh;
      position: relative;
      z-index: 1;
      &__icons {
        position: absolute;
        top: -10px;
        left: 0;
        span {
          padding: 2px;
          font-size: 15px;
          &.likeIcon {
            background-color: #32c2bb;
          }
          &.dislikeIcon {
            background-color: #feb432;
          }
        }
      }
    }
    &__text {
      z-index: 1;
      font-size: 16px;
      line-height: 16px;
      font-weight: 300;
      margin: 0;
      padding: 20px;
      color: white;
    }
    &__details {
      z-index: 1;
      display: flex;
      flex-direction: row;
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      margin: 0;
      padding: 0 20px;
      align-items: center;
      .left {
        align-self: flex-start;
        width: 60%;
      }
      button {
        background: transparent;
        border: 1px solid white;
        order: 1;
        min-width: 155px;
        height: 40px;
        color: white;
      }
      p {
        order: 1;
        align-self: flex-end;
        width: 40%;
        text-align: right;
        margin: 0;
        height: 100%;
        color: white;
      }
    }
    .voteButton {
      position: absolute;
      bottom: 0;
      margin-bottom: 10px;
      align-self: center;
      button {
        border: 1px solid white;
        background-color: transparent;
        margin: 0 auto;
        color: white;
      }
    }
  }
  &__vote {
    z-index: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 10%;

    &.voted {
      border: 1px solid white;
    }
    &__progressBar {
      z-index: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      min-width: 100px;
      height: 40px;

      &__likes {
        background-color: #32c2bb;
        align-self: flex-start;
        order: 1;
        padding: 0px;
        margin: 0px;
        width: 0px;
        height: 40px;
      }

      &__dislikes {
        background-color: #feb432;
        align-self: flex-end;
        order: 2;
        padding: 0px;
        margin: 0px;
        width: 0px;
        height: 40px;
      }
    }
    &__buttons {
      display: flex;
      flex-direction: row;
      height: 100%;
      position: absolute;
      justify-content: space-between;
      width: 100%;
      &__button {
        background-color: transparent;
        z-index: 2;
        border: 0;
        color: white;
        font-size: 25px;
        height: 100%;
        min-width: 40px;
        &.like {
          align-items: flex-start;
        }
        &.dislike {
          align-items: flex-end;
        }
      }
    }
  }
}
@media only screen 
and (max-device-width : 990px)  { 
  .card {
    min-height: 400px;
    width: 100%;
    &__character {
      &__title {
        margin-top: 40vh;
      }
    }
  }
}

@media only screen 
and (max-device-width : 414px)  { 
  .card {
    width: 100%;
    &__character {
      &__title {
        font-size: 27px;
        margin-top: 30%;
      }
    }
  }
}

