<section class="card" *ngFor="let character of data" [ngStyle]="{'background-image':'url(' + character.picture + ')'}">
  <div class="card__backdrop">&nbsp;</div>
  <div class="card__character">
    <h2 class="card__character__title"> 
      <div class="card__character__title__icons">
        <span class="likeIcon" *ngIf="character.likes > character.dislikes"><fa-icon [icon]="faThumbsUp"></fa-icon></span> 
        <span class="dislikeIcon" *ngIf="character.dislikes > character.likes"><fa-icon [icon]="faThumbsDown"></fa-icon></span> 
      </div>
      <span>{{character.name}}</span>
    </h2>
    <p class="card__character__text">{{character.description}}</p>
    <div class="card__character__details">
      <button type="button">View Full Report</button>
      <p>1 month ago
          in {{character.category}}</p>
    </div>
    <div class="voteButton">
      <button type="button" (click)="showMessage(character)">{{  voteText }}</button>
    </div>
  </div>
  <div class="card__vote"[ngClass]="{'voted': character.likes !== 0 || character.dislikes !== 0}">
    <div class="card__vote__progressBar">
      <div class="card__vote__progressBar__likes"
      [style.width]="character.likes+'%'"
      >
      </div>
      <div class="card__vote__progressBar__dislikes"
      [style.width]="character.dislikes+'%'"
      >
      </div>
    </div>
    <div class="card__vote__buttons">
      <button class="card__vote__buttons__button like" (click)="voting('up', character)">
        <fa-icon [icon]="faThumbsUp"></fa-icon>
        <span> {{character.likes}}% </span>
      </button>
      <button class="card__vote__buttons__button dislike" (click)="voting('down', character)">
        <span> {{character.dislikes}}% </span> 
        <fa-icon [icon]="faThumbsDown"></fa-icon>
      </button>
    </div>
  </div>
</section>
