<section class="home">
  <section class="home__message">
    <div class="home__message__left">
      <p class="text">Speak out. Be heard. </p>
      <p class="strongText">Be counted</p>
    </div>
    <div class="home__message__right">
      <p>Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a public report.</p>
    </div>
    <button class="home__message__button">
        <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </section>
  <section class="home__rulings">
    <h3>Previous Rulings</h3>
    <app-cards class="cardContainer"></app-cards>
  </section>
  <section class="home__subscribe">
    <p>Is there anyone else you would want us to add?</p>
    <button type="button">
        Submit a Name
    </button>
  </section>
</section>